<%= simple_form_for(@style, :html => {:class => 'form-horizontal' }) do |f| %>
  <% if @style.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@style.errors.count, "error") %> prohibited this style from being saved:</h2>

      <ul>
      <% @style.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
	<%= f.input :bodytype, :collection => ["Apple", "Pear", "Hourglass", "Rectangle", "Inverted triangle"], :as => :radio %> 	
 	<%= f.input :need, :collection => ["Office", "Casual"], :as => :radio %>
 	<%=f.input :texture, :collection => ["Rich", "Soft"], :as => :radio%>
 	<%=f.input :color, :collection => ["Bright", "Muted"], :as => :radio %>
 	<%=f.input :statement, :collection => ["Shoe", "Jewelry"], :as => :radio %>
 	<%= f.button :submit %>
  <% end %>
  
