<h1>Listing styles</h1>

<table>
  <tr>
    <th>Bodytype</th>
    <th>Need</th>
    <th>Texture</th>
    <th>Color</th>
    <th>Statement</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @styles.each do |style| %>
  <tr>
    <td><%= style.bodytype %></td>
    <td><%= style.need %></td>
    <td><%= style.texture %></td>
    <td><%= style.color %></td>
    <td><%= style.statement %></td>
    <td><%= link_to 'Show', style %></td>
    <td><%= link_to 'Edit', edit_style_path(style) %></td>
    <td><%= link_to 'Destroy', style, method: :delete, data: { confirm: 'Are you sure?' } %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Style', new_style_path %>
