

<p id="notice"><%= notice %></p>
<h2> Your Style Choices</h2>
<p><tr><b>Bodytype:</b>   <%= @style.bodytype %></tr>

<p><b>Need:</b>  <%= @style.need %> </tr></p>
<p><tr><b>Texture:</b> <%= @style.texture %> </tr> </p>
<p><tr><b>Color:</b> <%= @style.color %> </tr> </p>
<p><tr><b>Statement:</b> <%= @style.statement %></tr> </p>

</p>
<p>
	<h2><b>	 Here is what we recommend for you </b>	</h2>
	
	<p> Click on any item to shop </p>
	<p> <%= link_to "Sign up now", signup_path, :class => "btn btn-primary btn-large"  %> to get notified of our launch date!</p>
	
	
<iframe src=<%= @recommender.link %> width="90%" height="4000" frameborder="0" scrolling="no"></iframe>


